/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~bootstrap';

body {
  font-family: sans-serif;
}

.box {
  padding: 50px;
  border-radius: 50px;
  color: #000;
  background-color: #fff;
  min-width: 30%;
  max-width: 100%;
  max-height: 100%;
  font-size: 2vw;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
}

a:active,
a:focus {
  outline: 0;
}
