.header {
  background: #247d8f;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
}

.body {
  background: #fff;
  color: #000;
  padding: 10px 15px;
}

.link {
  color: #fff;
  text-decoration: none;
  float: right;
}
