.navitem {
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.5);
}

.navitem:hover,
.dropdownitem:hover {
  color: #fff;
  background: #666;
  text-decoration: none;
}

.active {
  color: #fff;
}

// Modified Code taken from: https://codeconvey.com/Tutorials/expanding-search-bar-jquery/index2.html

.expSearchBox {
  float: right;
  padding: 2.5vh;
}

.expSearchFrom {
  background: #fff;
  border: 3px solid #000;
  display: inline-block;
  height: 34px;
  position: relative;

  transition: 0.5s ease-in-out;
}

.field {
  cursor: pointer;
  border: none;
  background: transparent;
  height: 30px;
  width: 0px;
  line-height: 0px;
  vertical-align: top;
  padding: 0px 15px;
  transition: width 0.5s;
  position: relative;
  z-index: 2;
  color: #000;
}
.field:focus {
  width: 200px;
  outline: none;
  margin-right: 30px;
}
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.close span {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  display: block;
  height: 4px;
  position: absolute;
  right: -7px;
  top: 29px;
  width: 14px;

  transition: 0.2s 0.5s ease-in-out;
  transform: rotate(45deg);
}

.close span.back {
  top: 12px;
  right: 5px;
  opacity: 0;
}
.field:focus + .close span {
  background: #000 none repeat scroll 0 0;
  top: 12px;
  right: 5px;
}

.field:focus + .close span.back {
  transition: 0.5s 0.7s ease-in-out;
  transform: rotate(-45deg);
  opacity: 1;
}
