.navitem {
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.5);
}

.navitem:hover,
.dropdownitem:hover {
  color: #fff;
  background: #666;
  text-decoration: none;
}

.active {
  color: #fff;
}

.QuickSearch * {
  border-radius: 0;
  border: none;
}

.QuickSearch .form-control {
  border-right: none;
}

.QuickSearch .input-group-text {
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.QuickSearch .mx-auto {
  background-color: #ff0;
  margin: 10px;
  text-align: center;
}

#Nav .LogoBox {
  text-align: left;
}

@media (max-width: 768px) {
  #Nav .LogoBox {
    text-align: center;
  }
}

.QuickSearch .SearchResult {
  position: absolute;
  top: 42px;
  left: 0;
  padding: 15px;
  width: 100%;
  z-index: 1000;
}

.QuickSearch .SearchResultLabel {
  display: inline-block;
  max-width: calc(100% - 60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.QuickSearch .SearchResultCover {
  background-color: #ddeaff;
}

.SearchLink {
  display: block !important;
  color: #343a40;
}

.SearchLink:hover {
  cursor: pointer;
  color: #fff;
  background-color: #247d8f;
  text-decoration: none;
}

.NoResults {
  padding: 10px;
  color: #000;
}

.QuickSearch .input-group * {
  border-color: #bbb;
}
