.container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #2b2b2b;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
}

.menubar {
  background-color: #444 !important;
}

.navitem {
  padding: 10px 15px !important;
}

.active {
  color: #fff;
}

// Modified Code taken from: https://codeconvey.com/Tutorials/expanding-search-bar-jquery/index2.html

.expSearchBox {
  float: right;
  padding: 2.5vh;
}

.expSearchFrom {
  border: 3px solid #fff;
  border-radius: 20px;
  display: inline-block;
  height: 34px;
  position: relative;

  -webkit-transition: 0.2s 0.5s ease-in-out;
  -moz-transition: 0.2s 0.5s ease-in-out;
  -o-transition: 0.2s 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 600px) {
  .expSearchFrom:focus-within {
    margin-left: calc(50vw - 145px) !important;
  }
  .expSearchFrom {
    margin-left: calc(50vw - 35px);
  }
  .logo {
    margin-left: calc(50vw - 125px);
  }
}

@media screen and (min-width: 600px) {
  .expSearchFrom:focus-within {
    margin-left: 0px !important;
  }
  .logo {
    margin-left: 5vw;
  }
}

.field {
  cursor: pointer;
  border: none;
  background: transparent;
  height: 30px;
  width: 0px;
  line-height: 0px;
  vertical-align: top;
  padding: 0px 15px;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
  position: relative;
  z-index: 2;
  color: #fff;
}
.field:focus {
  width: 200px;
  outline: none;
  margin-right: 30px;
}
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.close span {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  display: block;
  height: 4px;
  position: absolute;
  right: -7px;
  top: 29px;
  width: 14px;

  -webkit-transition: 0.2s 0.5s ease-in-out;
  -moz-transition: 0.2s 0.5s ease-in-out;
  -o-transition: 0.2s 0.5s ease-in-out;
  transition: 0.2s 0.5s ease-in-out;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close span.back {
  top: 12px;
  right: 5px;
  opacity: 0;
}
.field:focus + .close span {
  top: 12px;
  right: 5px;
}

.field:focus + .close span.back {
  -webkit-transition: 0.5s 0.7s ease-in-out;
  -moz-transition: 0.5s 0.7s ease-in-out;
  -o-transition: 0.5s 0.7s ease-in-out;
  transition: 0.5s 0.7s ease-in-out;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 1;
}
