.navitem {
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.5);
}

.navitem:hover,
.dropdownitem:hover {
  color: white;
  background: #666;
  text-decoration: none;
}

.active {
  color: white;
}

.QuickSearch {
  padding: 0;
}

.QuickSearch span {
  background-color: white;
  cursor: pointer;
}

.QuickSearch * {
  border-radius: 0;
  border: none;
}

.QuickSearch .SearchResult {
  position: absolute;
  width: 100%;
  z-index: 2000;
  background-color: #ddeaff;
}

.QuickSearch .SearchResultLabel {
  display: inline-block;
  max-width: calc(100% - 60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
}

.QuickSearch .SearchResult img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 5px;
}

.SearchLink {
  display: block !important;
  color: black;
}

.SearchLink:hover {
  cursor: pointer;
  color: white;
  background-color: #247d8f;
  text-decoration: none;
}

.QuickSearch .input-group * {
  border-color: #bbb;
}
