.spin {
  background: linear-gradient(
    124deg,
    #47c2ff,
    #adeaa9,
    #473a99,
    #df9502,
    #f75224
  );
  background-size: 1000% 1000%;
  animation: Colour 80s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes Colour {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
