/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import 'animations';
@import '~bootstrap';

.spin {
  --rotation: 180deg;
  --nrotation: -180deg;
  background: linear-gradient(
    124deg,
    #47c2ff,
    #adeaa9,
    #473a99,
    #df9502,
    #f75224
  );
  background-size: 1000% 1000%;
  animation: Colour 80s linear infinite, Animate 40s ease-in-out infinite;
  overflow: hidden;
}
.spinrev {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: none;
  animation: AntiAnimate 40s ease-in-out infinite;
}
@keyframes Colour {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}

.box {
  padding: 50px;
  border-radius: 50px;
  color: #000;
  background-color: #fff;
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  display: table;
  text-align: center;
}
