/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~bootstrap';

body {
  font-family: sans-serif;
  background: black;
  color: white;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

.box {
  padding: 50px;
  border-radius: 50px;
  color: #000;
  background-color: #fff;
  min-width: 30%;
  max-width: 100%;
  max-height: 100%;
  font-size: 2vw;
}
/*
.btn-link {
  font-weight: 400;
  text-decoration: none;
} */

.no-scroll {
  overflow: scroll;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;

  display: inline-flex;
}

.top-20 {
  margin-top: 20px;
}

.top-15 {
  margin-top: 15px;
}

.top-10 {
  margin-top: 10px;
}

.top-5 {
  margin-top: 5px;
}

.top-0 {
  top: 0;
}

.end-0 {
  right: 0;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-15 {
  margin-bottom: 15px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.bottom-5 {
  margin-bottom: 5px;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
