<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self'; script-src-elem 'self'  'unsafe-inline' 'nonce-googlecaptcha'; style-src 'self'; style-src-elem 'self' 'unsafe-inline';"
    />
    <script
      nonce="googlecaptcha"
      src="https://google.com/recaptcha/api.js?render=6Ld2-aMZAAAAAD9ESUQP8ijtHxtoWAwv2DOsJJ0n"
    ></script>
    <base href="./" />

    <title>Mangasee Desktop Client</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
